[submodule "inst/agronomy"]
	path = inst/agronomy
	url = https://github.com/marcionicolau/metis-agronomy.git
[submodule "inst/finance"]
	path = inst/finance
	url = https://github.com/marcionicolau/metis-finance.git
[submodule "inst/marketing"]
	path = inst/marketing
	url = https://github.com/marcionicolau/metis-marketing.git
